*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 2500px;
    margin: 0;
}

button:active,
input[type="submit"]{
    border-top: 2px;
}
.visibility-hidden {
    width: 1px;
    height: 1px;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

/*calc*/
#calculator {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.operator--active {
    background: #5fb053;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.buttons input[type=button] {
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: 2px solid #eee;
    margin-right: 20px;
    border-radius: 5px;
}

.buttons input[type=button]:active {
    background-color: lightskyblue;
}

/*calc end*/

/*gallery*/
#gallery {
    width: 35vw;
    margin: 0 auto;
}

#gallery .photos img {
    margin: 0 auto;
    height: 300px;
    display: none;
}

#gallery .photos img:first-child {
    display: block;
}

/*gallery end*/

/*form*/
.login {
    margin: 50px auto 0;
    width: 320px;
    min-height: 190px;
    padding: 25px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #d7d8db;
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__text {
    font-size: 14px;
    padding: 6px 12px 8px;
    height: 35px;
    border-radius: 3px;
    color: #000;
    border: 1px solid #d3d9de;
    margin-bottom: 10px;
}

.login__text--error {
    border: 1px solid red;
    outline-color: red;
}

.login__btn {
    background: #5181b8;
    font-size: 14px;
    padding: 6px 12px 8px;
    height: 35px;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #d3d9de;
    margin-bottom: 10px;
}

.login__btn:active {
    padding: 7px 12px 8px;
}

/*form end*/
 .toTopLink {
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        position: fixed;
        border: 1px solid #e4e4e4;
        z-index: 5;
        right: 20px;
        bottom: 20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        opacity: 0;
        transition: .5s;
    }

    .toTopLink::after {
        display: block;
        content: "";
        border: 2px solid #ec008c;
        border-top: none;
        border-left: none;
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
        width: 16px;
        height: 16px;
        /*margin: 15px auto 0;*/
        margin: 20px auto 0;
    }
/*accordeon*/

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 0;
    width: 460px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #4f4f4f;
}

.list__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border-radius: 20px;
    background: #e7e7e7;
}

.list__wrapper:nth-child(even) {
    background: #696666;
    color: #fff;
}

.list__item {
    height: 42px;
    line-height: 42px;
    border-radius: 20px;
    background: #e7e7e7;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
}

.list__item::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #ff8663;

}

.list__wrapper:nth-child(even) .list__item {
    background: #696666;
    color: #fff;
}

.list__item--active {
    background: #ff8663 !important;
    color: #fff;
}

.list__item--active::after {
    border-bottom: none;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #fff;
}

.list__content {
    padding: 20px;
    display: none;
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
}


/*accordeon end*/
/*list*/
#main-ul {
    width: 250px;
    margin: 50px auto;
}

#main-ul li > ul {
    display: none;
}

#main-ul span:hover {
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

#main-ul .li--active {
    display: block;
}

/*list*/

/*table sort*/
#table-sort {
    width: 250px;
    margin: 0 auto;
}

th[data-type="age"] {
    cursor: pointer;
}

#table-sort tr th {
    background: #eee;
}

#table-sort tbody tr {
    background: #e1e1e1;
}

/*table sort end*/
